<%- include ../layouts/header.ejs %>	

<% if (messages.error) { %>
	<p class="msg__error"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p class="msg__success"><%- messages.success %></p>
<% } %>

<form action="/items/addItem" method="post" name="form1">
	<div class="table__cotainer">
		<table class="center" width="25%" border="0">
			<tr> 
				<td>Name</td>
				<td><input class="input__design" type="text" name="name" id="name" value="<%= name %>" required/></td>
			</tr>
			<tr> 
				<td>Quantity</td>
				<td><input class="input__design" type="text" name="qty" value="<%= qty %>" required/></td>
			</tr>
			<tr> 
				<td>Amount</td>
				<td><input class="input__design" type="text" name="amount" value="<%= amount %>" required/></td>
			</tr>
			<tr> 
				<td></td>
				<td><input class="home__button width-100" type="submit" name="Submit" value="Add" required /></td>
			</tr>
		</table>
	</div>
</form>
<%- include ../layouts/footer.ejs %>
